@media (max-width: 768px) {
	html {
		overflow-x: hidden;
	}

	#main-tag {
		padding: 0 12px;
		font-size: 12px;
		line-height: 19px;
		height: 22px;
	}
	
	.triangle-l {
		top: 22px;
	}
	
	#slideOverlay, #slideOverlayText {
		display: none !important;
	}
	
	.cycle-pager {
		display: none;
	}
}

@media(min-width:768px) and (max-width:992px) {
	
	#main-tag {
		padding: 0 21px;
		font-size: 15px;
		line-height: 23px;
		height: 24px;
	}
	
	.triangle-l {
		top: 23px;
	}
}

@media(min-width:992px) {
	#main-tag {
		padding: 0 21px;
		font-size: 15.5px;
		line-height: 31px;
		height: 36px;
	}
	#main-tag .basker {
		font-size: 16.5px;
	}
	
	.triangle-l {
		top: 35px;
	}
	
	.smaller-padding { 
		padding-top: 17px !important;
	}
}

#main-tag {
	border: 3px double #ccc;
	position: absolute;
	display: inline-block;
	background: #FFF;
	font-weight: 600;
	letter-spacing: 1px;
	z-index: 110;
	top: 15px;
	left: 0px;
}

#main-tag .basker {
	font-weight: normal;
}

.triangle-l {
	border-color: rgba(0, 0, 0, 0) #666 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
	border-style: solid;
	border-width: 15px;
	height: 0px;
	width: 0px;
	position: absolute;
	left: -15px;
	z-index: 50;
}

.circle-arrow {
	position: absolute;
	top: 50%;
	margin-top: -12px;
	right: -12px;
	border: 1px solid #000;
	border-radius: 26px;
	padding: 5px;
	z-index: 100;
	background: #FFF;
}

#mainTrend {
	display: table;
	padding: 25px 0 15px; 
	font-size: 12px;
	margin-top: 20px;
	height: 148px;
}

#mainTrendTag {
	font-size: 18px;
	font-weight: 700;
}

#mainTrendDescription {
	color: #666;
	font-size: 15px;
	line-height: 16px;
}


.slides {
	height: 397px;
}

.would-you {
	text-align: center;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;	
	padding: 0 5px;
}

.votes .vote-button {
	cursor: pointer;
	display: inline-block !important;
}

.see-more-trends {
	text-align: center;
	line-height: 43px;
	height: 42px;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 1px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.goto-archive {
	display: none;
}

.see-more-trends img {
	margin-top: -4px;
}

.post-tag {
	width: 287px;
	text-align: center;
	position: absolute;
	top: 0;
	margin-top: -10px;
	z-index: 10;
    left: 50%;
    margin-left: -143px;
}
.rel {
    position: relative;
}
.post-title {
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 15px;
	font-family: 'Baskerville';
	line-height: 27px;
}

.post {
	font-size: 16px;
	line-height: 19px;
	color: #666;
	font-family: 'Baskerville';
}

#mainTrend .panel {
    float: none;
    display: table-cell;
    vertical-align: middle;
}

.surround{
	position: absolute;
	background: none;
	z-index:1200;
}

#topSurround {
	width: 626px;
	height: 20px;
	top: -20px;
	left: 0;
}

#rightSurround {
	width: 20px;
	height: 455px;
	top: -20px;
	right: -5px;
}

#bottomSurround {
	width: 626px;
	height: 45px;
	top: 395px;
	left: 0;
}

#leftSurround {
	width: 20px;
	height: 455px;
	top: -20px;
	left: -5px;
}

.slide:not(:first-child) {
	display: none;
}

#slideOverlay {
	position: absolute;
	display: none;
	height: 395px;
	width: 597px;
	opacity: 0.7;
	background-color: #7a7777;
	z-index: 150;
}

#slideOverlayText {
	color: #fff;
	position: absolute;
	display: none;
	height: 414px;
	width: 627px;
	z-index: 150;
	left: 0;
}

.overlayText {
	position: absolute;
	z-index: 100;
	font-size: 16px;
	top: 70px;
	left: 50%;
	width: 200px;
	text-align: center;
	margin-left: -100px;
}

.overlayTrend {
	position: absolute;
	z-index: 9;
	top: 77px;
	font-family: 'Baskerville';
	font-size: 40px;
	width: 100%;
	text-align: center;
	font-style: italic;
	letter-spacing: 1px;
}

.overlayLines {
	width: 420px;
	height:	68px;
	position:absolute;
	background: url(/images/default/overlay-lines.png);
	background-position: center;
	top: 135px;
	left: 50%;
	margin-left: -210px;
}

.overlayFlirt {
	width: 140px;
	height: 112px;
	position: absolute;
	background: url(/images/default/overlay-flirt.png);
	top: 218px;
	left: 40px;
	cursor:pointer;
}

.overlaySkirt {
	width: 120px;
	height: 115px;
	position: absolute;
	background: url(/images/default/overlay-skirt.png);
	top: 216px;
	left: 50%;
	margin-left: -60px;
	cursor: pointer;
}

.overlayMarry {
	width: 140px;
	height: 107px;
	position: absolute;
	background: url(/images/default/overlay-marry.png);
	top: 227px;
	right: 40px;
	cursor: pointer;
}

.slide {
	margin: 0 auto;
}

.post-row a {
	color: #000;
}
.post-row a:hover {
	color: #000;
	text-decoration: none;
}

.cycle-pager {
	left: 50%;
	margin-left: -39px;
	text-align: center;
	z-index: 1400;
	position: absolute;
	/*overflow: hidden;*/
	margin-top: 8px;
}

.cycle-pager span {
	font-family: arial;
	font-size: 40px;
	width: 16px;
	height: 16px;
	display: inline-block;
	margin: 0 5px;
	color: #999;
	cursor: pointer;
}

.cycle-pager-active {
	color: #000 !important;
	cursor: default !important;
}