.form-user {
  max-width: 500px;
  padding: 15px;
}
.form-user .form-user-heading,
.form-user .checkbox {
  margin-bottom: 10px;
}
.form-user .checkbox {
  font-weight: normal;
}
.form-user input {
  margin-bottom: 10px;
}

.form-user .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-user .form-control:focus {
  z-index: 2;
}
.form-user input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-user input[name="password1"] {
	margin-top: 20px;
}
.form-user input[name="password2"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#message {
	margin-top: 10px;
	font-size: 16px;
}
.invalid {
	background: #ffd6d6;
}